n8n/workflows/03_search_api.json
{
  "name": "03. 쇼핑몰 크롤러 - 검색 API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567801",
      "name": "Webhook: 검색 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "shopping-search-api-v1",
      "notes": "GET /webhook/search?q=키워드&category=fashion&mall=coupang&min_price=1000&max_price=50000&sort=price_asc&limit=20"
    },
    {
      "parameters": {
        "jsCode": "// 쿼리 파라미터 파싱 및 검증\nconst query = $input.first().json.query || {};\n\nconst params = {\n  q: query.q || '',\n  category: query.category || '',\n  mall: query.mall || '',\n  min_price: parseInt(query.min_price || '0') || 0,\n  max_price: parseInt(query.max_price || '0') || 0,\n  sort: query.sort || 'relevance',\n  limit: Math.min(parseInt(query.limit || '20') || 20, 100),\n  offset: parseInt(query.offset || '0') || 0,\n  since_hours: parseInt(query.since_hours || '0') || 0\n};\n\nif (!params.q && !params.category) {\n  throw new Error('검색어(q) 또는 카테고리(category) 중 하나는 필수입니다');\n}\n\nreturn [{ json: params }];"
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567802",
      "name": "검색 파라미터 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawler-api:8000/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q",           "value": "={{ $json.q }}" },
            { "name": "category",    "value": "={{ $json.category }}" },
            { "name": "mall",        "value": "={{ $json.mall }}" },
            { "name": "min_price",   "value": "={{ $json.min_price }}" },
            { "name": "max_price",   "value": "={{ $json.max_price }}" },
            { "name": "sort",        "value": "={{ $json.sort }}" },
            { "name": "limit",       "value": "={{ $json.limit }}" },
            { "name": "offset",      "value": "={{ $json.offset }}" },
            { "name": "since_hours", "value": "={{ $json.since_hours }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567803",
      "name": "백엔드 검색 실행",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// 응답 포맷 정리 및 요약 추가\nconst data = $input.first().json;\nconst items = data.items || [];\n\nconst response = {\n  meta: {\n    total: data.total || items.length,\n    limit: data.limit || 20,\n    offset: data.offset || 0,\n    query: data.query || {},\n    searched_at: new Date().toISOString()\n  },\n  items: items.map(p => ({\n    title: p.title,\n    price: p.price,\n    price_formatted: p.price ? `${p.price.toLocaleString()}원` : '가격 미상',\n    mall: p.mall_name || p.mall_id,\n    category: p.category_name || p.category_id,\n    url: p.url,\n    image_url: p.image_url || '',\n    rating: p.rating || null,\n    review_count: p.review_count || 0,\n    seller: p.seller || '',\n    crawled_at: p.crawled_at\n  }))\n};\n\nreturn [{ json: response }];"
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567804",
      "name": "응답 포맷 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json; charset=utf-8" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567805",
      "name": "검색 결과 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567806",
      "name": "Webhook: 스케줄 조회",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 600],
      "webhookId": "shopping-schedule-get-v1",
      "notes": "GET /webhook/schedule - 전체 카테고리 스케줄 조회"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567807",
      "name": "Webhook: 스케줄 업데이트",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 800],
      "webhookId": "shopping-schedule-put-v1",
      "notes": "PUT /webhook/schedule Body: {category_id, cron_expression, enabled}"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawler-api:8000/config/schedules",
        "options": { "timeout": 10000 }
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567808",
      "name": "스케줄 목록 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567809",
      "name": "스케줄 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 600]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://crawler-api:8000/config/schedule/{{ $input.first().json.body.category_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.first().json.body) }}",
        "options": { "timeout": 10000 }
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567810",
      "name": "스케줄 업데이트",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 800]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "c1b2c3d4-e5f6-7890-abcd-ef1234567811",
      "name": "업데이트 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 800]
    }
  ],
  "connections": {
    "Webhook: 검색 요청": {
      "main": [
        [{ "node": "검색 파라미터 파싱", "type": "main", "index": 0 }]
      ]
    },
    "검색 파라미터 파싱": {
      "main": [
        [{ "node": "백엔드 검색 실행", "type": "main", "index": 0 }]
      ]
    },
    "백엔드 검색 실행": {
      "main": [
        [{ "node": "응답 포맷 정리", "type": "main", "index": 0 }]
      ]
    },
    "응답 포맷 정리": {
      "main": [
        [{ "node": "검색 결과 응답", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: 스케줄 조회": {
      "main": [
        [{ "node": "스케줄 목록 조회", "type": "main", "index": 0 }]
      ]
    },
    "스케줄 목록 조회": {
      "main": [
        [{ "node": "스케줄 응답", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: 스케줄 업데이트": {
      "main": [
        [{ "node": "스케줄 업데이트", "type": "main", "index": 0 }]
      ]
    },
    "스케줄 업데이트": {
      "main": [
        [{ "node": "업데이트 응답", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["쇼핑몰", "검색", "API"],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
